*/.svn/*
**/.svn/*
**/bin/*
/.svn/
target/
*/target/
**/target/
src-gen/
*/src-gen/
**/src-gen/
xtend-gen/
*/xtend-gen/
**/xtend-gen/
language/thingml.web/WebRoot/xtext-resources/generated/mode-thingml.js
language/thingml/model/
doc/examples/thingml-gen/
tmp/
*/tmp/
**/tmp/
.DS_Store
.settings/
*.iml
**.iml
*.ipr
*.iws
*.pyc
keystore
/.idea/
/.idea/*
.idea/
.idea/*
test_out/
.directory
org.thingml.compilers/src/test/resources/thingml
*~
~*
/launch.bat
/testJar/config.properties
org.thingml.cep.benchmark/tmp/
Benchmarks/Scala-Avg-Bench/out/
node_modules
.workspace
runtime-EclipseApplication
testJar/config.properties
**._trace
**.xtendbin
compilers/bundle/META-INF/MANIFEST.MF
