*/.svn/*
**/.svn/*
**/bin/*
/.svn/
target/
.DS_Store
.settings/
*.iml
*.ipr
*.iws
*.pyc
keystore
/.idea/
/.idea/*
.idea/
.idea/*
test_out/
.directory
org.thingml.compilers/src/test/resources/thingml
*~
~*
/launch.bat
org.thingml.cep.benchmark/tmp/
Benchmarks/Scala-Avg-Bench/out/
node_modules
.workspace
runtime-EclipseApplication
