<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2014 SINTEF <franck.fleurey@sintef.no>

    Licensed under the GNU LESSER GENERAL PUBLIC LICENSE, Version 3, 29 June 2007;
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    	http://www.gnu.org/licenses/lgpl-3.0.txt

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>



<extension
         point="org.eclipse.ui.popupMenus">
         
      <objectContribution
            id="org.thingml.eclipse.ui.contribution1"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Arduino"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileArduino"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction">
         </action>
      </objectContribution> 
      
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution2"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Posix C"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompilePosixC"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction2">
         </action>
      </objectContribution> 
   </extension>
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution3"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile CPP"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileCPP"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction3">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution4"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java/JaSM"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileJavaJaSM"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction4">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution5"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java/MQTT"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileJavaMQTT"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction5">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution6"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java/Swing"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileJavaSwing"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction6">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution7"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java Kevoree"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileJavaKevoree"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction7">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution8"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Comm"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileCom"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction8">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution9"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Comm2"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileComm2"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction9">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution10"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java Rest"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileJavaRest"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction10">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution11"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile JS"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileJS"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction11">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution12"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML (Deprecated)"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile JS WS"
               class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileJSWS"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction12">
         </action>
      </objectContribution> 
      
   </extension>

    <extension
            point="org.eclipse.ui.popupMenus">
        <objectContribution
                id="org.thingml.eclipse.ui.contribution13"
                nameFilter="*.thingml"
                objectClass="org.eclipse.core.resources.IFile">
            <menu
                    label="ThingML (Deprecated)"
                    path="additions"
                    id="org.thingml.eclipse.ui.menu1">
                <separator
                        name="group1">
                </separator>
            </menu>
            <action
                    label="Compile JS Kevoree"
                    class="org.thingml.eclipse.ui.popup.deprecated_actions.ThingMLCompileJsKevoree"
                    menubarPath="org.thingml.eclipse.ui.menu1/group1"
                    enablesFor="1"
                    id="org.thingml.eclipse.ui.newAction13">
            </action>
        </objectContribution>

    </extension>

       <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.thingml.eclipse.preferences.ThingMLPreferencePage"
          id="org.thingml.eclipse.preferences.ThingMLPreferencePage"
          name="ThingML">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.thingml.eclipse.preferences.PreferenceInitializer">
    </initializer>
 </extension>




   
   
   
   
   <extension point="org.eclipse.ui.commands">
  <command
        description="Make the ThingML Console visible."
        id="thingml.showconsole"
        name="Show Console...">
  </command>
  <command
        description="Compile ThingML Program"
        id="thingml.compile"
        name="Compile">
     <commandParameter
           id="org.thingml.eclipse.ui.commandParameterCompilerName"
           name="compiler_name"
           optional="true">
     </commandParameter>
  </command>
</extension>

<extension point="org.eclipse.ui.handlers">
  <handler
        class="org.thingml.eclipse.ui.commands.ShowThingMLConsole"
        commandId="thingml.showconsole">
  </handler>
  <handler
        class="org.thingml.eclipse.ui.commands.CompileThingFile"
        commandId="thingml.compile">
  </handler>
</extension>
   
   
   <extension point="org.eclipse.ui.menus">
  <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
     <menu
           label="HEADS / ThingML">
        <visibleWhen>
           <with
                 variable="activeMenuSelection">
              <iterate>
                 <adapt
                       type="org.eclipse.core.resources.IFile">
                    <test
                          property="org.eclipse.core.resources.name"
                          value="*.thingml">
                    </test>
                 </adapt>
              </iterate>
           </with>
        </visibleWhen>
        <command
              commandId="thingml.showconsole"
              style="push">
        </command>
        <dynamic
              class="org.thingml.eclipse.ui.commands.DynamicCompilerMenu"
              id="org.thingml.eclipse.ui.dynamiccompilermenu">
        </dynamic>
     </menu>
  </menuContribution>
</extension>
   
   
   

 
   

</plugin>
