<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2014 SINTEF <franck.fleurey@sintef.no>

    Licensed under the GNU LESSER GENERAL PUBLIC LICENSE, Version 3, 29 June 2007;
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    	http://www.gnu.org/licenses/lgpl-3.0.txt

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
         
      <objectContribution
            id="org.thingml.eclipse.ui.contribution1"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Arduino"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileArduino"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction">
         </action>
      </objectContribution> 
      
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution2"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Posix C"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompilePosixC"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction2">
         </action>
      </objectContribution> 
   </extension>
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution3"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile CPP"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileCPP"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction3">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution4"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java/JaSM"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileJavaJaSM"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction4">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution5"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java/MQTT"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileJavaMQTT"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction5">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution6"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java/Swing"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileJavaSwing"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction6">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution7"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java Kevoree"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileJavaKevoree"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction7">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution8"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Comm"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileCom"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction8">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution9"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Comm2"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileComm2"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction9">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution10"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java Rest"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileJavaRest"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction10">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution11"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java Rest"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileJS"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction11">
         </action>
      </objectContribution> 
      
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.thingml.eclipse.ui.contribution12"
            nameFilter="*.thingml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="ThingML"
               path="additions"
               id="org.thingml.eclipse.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Compile Java Rest"
               class="org.thingml.eclipse.ui.popup.actions.ThingMLCompileJSWS"
               menubarPath="org.thingml.eclipse.ui.menu1/group1"
               enablesFor="1"
               id="org.thingml.eclipse.ui.newAction12">
         </action>
      </objectContribution> 
      
   </extension>

      
 
   

</plugin>
