<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2014 SINTEF <franck.fleurey@sintef.no>

    Licensed under the GNU LESSER GENERAL PUBLIC LICENSE, Version 3, 29 June 2007;
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    	http://www.gnu.org/licenses/lgpl-3.0.txt

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.sintef.thingml.resource.thingml.mopp.ThingmlMetaInformation" id="org.sintef.thingml.resource.thingml.mopp.ThingmlMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.nature" name="thingml nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.sintef.thingml.resource.thingml.mopp.ThingmlNature">
			</run>
		</runtime>
		<builder id="org.sintef.thingml.resource.thingml.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.sintef.thingml.resource.thingml.builder" name="thingml Builder">
		<builder hasNature="true">
			<run class="org.sintef.thingml.resource.thingml.mopp.ThingmlBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.sintef.thingml.resource.thingml.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.sintef.thingml.resource.thingml.mopp.ThingmlResourceFactoryDelegator" type="thingml">
		</parser>
	</extension>
	
	<extension-point id="org.sintef.thingml.resource.thingml.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="org.sintef.thingml.resource.thingml.debug.ThingmlLineBreakpoint" id="org.sintef.thingml.resource.thingml.debug.breakpoint" markerType="org.sintef.thingml.resource.thingml.debug.lineBreakpoint.marker" name="thingml Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="org.sintef.thingml.resource.thingml.ui.launchConfigurationType" delegate="org.sintef.thingml.resource.thingml.launch.ThingmlLaunchConfigurationDelegate" modes="run,debug" name="thingml Application" sourceLocatorId="org.sintef.thingml.resource.thingml.ui.sourceLocator" sourcePathComputerId="org.sintef.thingml.resource.thingml.ui.sourcePathComputer" delegateName="thingml Launch Tooling" delegateDescription="This will run or debug .thingml files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="org.sintef.thingml.resource.thingml.debug.ThingmlSourcePathComputerDelegate" id="org.sintef.thingml.resource.thingml.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="org.sintef.thingml.resource.thingml.ui.sourceLocator" class="org.sintef.thingml.resource.thingml.debug.ThingmlSourceLocator" name="thingml Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
