<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.sintef.thingml.resource.thingml.mopp.ThingmlMetaInformation" id="org.sintef.thingml.resource.thingml.mopp.ThingmlMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.sintef.thingml.resource.thingml.problem">
		</super>
	</extension>
	
	<extension id="org.sintef.thingml.resource.thingml.nature" name="thingml nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.sintef.thingml.resource.thingml.mopp.ThingmlNature">
			</run>
		</runtime>
		<builder id="org.sintef.thingml.resource.thingml.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.sintef.thingml.resource.thingml.builder" name="thingml Builder">
		<builder hasNature="true">
			<run class="org.sintef.thingml.resource.thingml.mopp.ThingmlBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.sintef.thingml.resource.thingml.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.sintef.thingml.resource.thingml.mopp.ThingmlResourceFactoryDelegator" type="thingml">
		</parser>
	</extension>
	
	<extension-point id="org.sintef.thingml.resource.thingml.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
